# ======================
# DATABASE
# ======================
DB_URL=jdbc:postgresql://localhost:5432/balancetonrappeur
DB_USERNAME=btr
DB_PASSWORD=changeme

# ======================
# ADMIN
# ======================
BTR_ADMIN_PASSWORD=changeme

# ======================
# MAIL
# ======================
MAIL_HOST=smtp.resend.com
MAIL_PORT=587
MAIL_USERNAME=resend
MAIL_PASSWORD=changeme

BTR_MAIL_FROM=contact@balancetonrappeur.fr
BTR_MAIL_DIGEST_TO=contact@balancetonrappeur.fr

# ======================
# SPOTIFY
# ======================
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=https://balancetonrappeur.fr/scan/callback
